* {
    font-family: Roboto, Arial, sans-serif;
    box-sizing: border-box;
}

.box-question {
    float: left;
    width: 100%;
    font-size: 1rem;
    color: #333;
}
.box-question h2,
.box-question h3 {
    margin-bottom: 20px !important;
    cursor: default;
}
.box-question h2 {
    font-size: 1.3rem !important;
}
.box-question h3 {
    font-size: 1.2rem !important;
    font-weight: normal !important;
}
table.picture {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 18px 0;
    border-radius: 5px;
    background: #f2e892db;
    overflow: hidden;
    line-height: 1.5;
}
table.picture + .picture {
    margin-top: 22px;
}
table.picture td {
    position: relative;
    cursor: default;
}
table.picture img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
table.picture td.caption {
    padding: 20px 20px 0 20px !important;
    color: #000;
}
.question ul {
    margin: 10px 0 20px !important;
    list-style: none;
    padding: 0 !important;
}
.question ul > li {
    float: left;
    width: -webkit-fill-available;
    background: #ecf3f3db;
    padding: 15px 10px 15px 50px;
    margin-bottom: 5px;
    position: relative;
    font-weight: bold !important;
    border-radius: 30px;
    list-style-type: none !important;
    line-height: 1.6;
}
.question ul > li:before {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #fdfdfddb;
    text-align: center;
    line-height: 30px;
}
.question ul > li:first-child:before {
    content: 'A';
}
.question ul > li:nth-child(2):before {
    content: 'B';
}
.question ul > li:nth-child(3):before {
    content: 'C';
}
.question ul > li:nth-child(4):before {
    content: 'D';
}
.question ul > li:nth-child(5):before {
    content: 'E';
}
.question ul > li:nth-child(6):before {
    content: 'F';
}
.question ul > li:nth-child(7):before {
    content: 'G';
}
.question ul > li:nth-child(8):before {
    content: 'H';
}
.question ul > li > span,
.question ul > li > strong {
    color: #000 !important;
    font-weight: bold !important;
}
.question ul.answered > li:not(.selected):not(.vmu) {
    opacity: 0.4;
}
.question ul.answered > li.selected {
    opacity: 1;
    border-radius: 5px;
}
.question ul.answered > li {
    pointer-events: none;
}
.question ul.answered > li.selected:not(.vmu) {
    background: #e03d3d;
}
.question ul.answered > li.vmu {
    background: #61f761;
}
.question ul + p:not(.explaination) {
    display: none;
    margin: 15px 0;
}
.question ul > li > p.explaination {
    margin: 0;
    color: #fff;
    font-weight: normal;
}
.question + .result {
    float: left;
    width: 100%;
    margin: 20px 0;
    position: relative;
    background: #f3f3f3;
    font-weight: 300;
    text-align: center;
    font-size: 1.8rem;
    padding: 20px 10px 25px;
    line-height: 1.1;
}
.question + .result:before {
    content: 'Kết quả';
    color: #888;
    text-align: center;
    margin-right: 10px;
    display: block;
    font-size: 0.8em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.question + .result > .message {
    display: block;
    margin: 15px 0;
}
.question + .result > .vmu {
    color: #55d000;
    font-weight: bold;
    font-size: 2em;
}
.question + .result > .total {
    font-size: 2em;
    color: #f16464;
}
.question + .result > .total:before {
    content: '/';
}
@media (min-width: 1025px) {
    .question ul:not(.answered) > li {
        cursor: pointer;
    }
    .question ul.answered > li {
        cursor: default;
        pointer-events: none;
    }
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #bdd1d1db;
}
.btn:disabled:hover {
    transform: scale(1);
    background-color: unset;
    cursor: not-allowed;
}

.btn.hide {
    display: none;
}

.result {
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.result .message {
    color: #f16464;
    margin-right: 16px;
}

#grid-question-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 16px;
    margin-top: 16px;
}

@media (max-width: 1024px) {
    #grid-question-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

#grid-question-container .grid-question-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

#grid-question-container .grid-question-item:not(.active):hover {
    transform: scale(1.05);
    border-color: #007bff;
}

#grid-question-container .grid-question-item.right {
    background-color: #55d000;
    color: #fff;
}

#grid-question-container .grid-question-item.wrong {
    background-color: #f16464;
    color: #fff;
}

#grid-question-container .grid-question-item.active {
    border-color: #007bff;
    pointer-events: none;
}

.reset-wrong-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.reset-wrong-container .btn-reset-wrong {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: all 0.3s ease;
    background-color: #f16464;
    color: #fff;
}

.reset-wrong-container .btn-reset-wrong:hover {
    transform: scale(1.05);
    background-color: #55d000;
}

ul.tab-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: #007bff 2px solid;
}

ul.tab-nav li {
    outline: none;
}

ul.tab-nav button.tab-link {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 8px;
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    border-bottom: 0;
    margin-right: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 800;
}

ul.tab-nav button.tab-link.active {
    background-color: #007bff;
    color: white;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.tab-content.active {
    display: block;
}

.progress-info {
    width: 400px;
    max-width: 100%
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 8px;
    overflow: hidden;
}

.progress-info .progress-header {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    background-color: #007bff;
    color: #fff;
}

.progress-info .progress-header i {
    margin-right: 8px;
}

.progress-info .progress-body {
    padding: 10px;
}

.progress-info .progress-item {
    margin-bottom: 10px;
}
.progress-info .progress-item:last-child {
    margin-bottom: 0;
}

.progress-info .progress-item div {
    display: inline;
}

.progress-info .progress-item-header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.progress-info .progress-item-body {
    font-size: 12px;
}

.progress-info .progress-item-value#score {
    background-color: #f16464;
    color: #fff;
    padding: 4px 8px;
    border-radius: 8px;
}
